
.thuonghieu img{
    /* width: 170px;
    height: 60px; */
    padding: 0px 12px;
}
.thuonghieu{
    text-align: center;
}
.xemthem{
    text-align: center;
    
}

.xemthem{
    margin-bottom: 20px;
}
